body{
  background: #f6f6f6;
}
.td-cell{
    display:inline-block;
    font-size:16pt;
    width:20px;
    text-align:center;
    height:20px;
    border:1px solid blue;
}
#main{
  position: relative;
  background: #F5FFFA;
  height: 600px;
  width: 100%;
}
#main-game-left{
  position: absolute;
  left: 0px;
  width: 200px;
  height: 600px;
  background: #E6E6FA;
  border: #39ace7 2px solid;
}
#main-right{
  position: absolute;
  right: 0px;
  width: 200px;
  height: 610px;
  background: #E6E6FA;
  border: #39ace7 2px solid;
}
#main-game{
  position: absolute;
  left: 0px;
  width: 1050px;
  height: 610px;
  background: #E6E6FA;
  border: #39ace7 2px solid;
}
#list-online-head{
  text-align: center;
}

#main-game-center{

  position: absolute;
  left: 250px;
  width: 765px;
  height: 600px;
  background: #E6E6FA;
  border: #39ace7 2px solid;
 
}
#room-left{
  float: left;

}
#room-right{
  float: right;
  margin-right: 50px;
  text-align: center;
}
#room-right-o{
  margin-left: 20px;
  float: right;
}
#room-right-x{
  float: left;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li  {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #4CAF50;
}



  
  /* FORM TYPOGRAPHY*/
  form{
    border-radius: 10px 10px 10px 10px;
    text-align: center;
    
      
  }
  h1{
    text-align: center;
  }
  input[type=button], input[type=submit], input[type=reset]  {
    background-color: #56baed;
    border: none;
    color: white;
    padding: 15px 80px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    text-transform: uppercase;
    font-size: 13px;
    -webkit-box-shadow: 0 10px 30px 0 rgba(95,186,233,0.4);
    box-shadow: 0 10px 30px 0 rgba(95,186,233,0.4);
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
    margin: 5px 20px 40px 20px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  
  input[type=button]:hover, input[type=submit]:hover, input[type=reset]:hover  {
    background-color: #39ace7;
  }
  
  input[type=button]:active, input[type=submit]:active, input[type=reset]:active  {
    -moz-transform: scale(0.95);
    -webkit-transform: scale(0.95);
    -o-transform: scale(0.95);
    -ms-transform: scale(0.95);
    transform: scale(0.95);
  }
  
  input[type=text] {
    background-color: #f6f6f6;
    border: none;
    color: #0d0d0d;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 5px;
    width: 85%;
    border: 2px solid #f6f6f6;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
  }
  
  input[type=text]:focus {
    background-color: #fff;
    border-bottom: 2px solid #5fbae9;
  }
  
  input[type=text]:placeholder {
    color: #cccccc;
  }
  
  
  